@use "../../../presets" as *;
@use "../../../mixins" as *;

.skills {
  @include sm-min {
    padding: $gap-sm;
  }

  @include md-sm {
    padding-bottom: 11px;
  }

  @include sm {
    padding: $gap;
  }

  &__container {
    display: grid;

    @include lg-min {
      gap: 10px;
      grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 20px;
    }

    @include lg-md {
      gap: 10px;
      grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
      grid-template-columns: repeat(3, 1fr);
    }

    @include md-sm {
      gap: 10px;
      grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      gap: $gap;
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
    }

    @media (min-height: 691px) {
      grid-auto-rows: calc(33.333vh - 13.333px);
    }

    @media (max-height: 690px) {
      grid-auto-rows: calc(230px - 13.333px);
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: $gap;

    @include lg-min {
      margin-bottom: 30px;
    }

    @include md-sm {
      margin-bottom: 29px;
    }

    @include sm-min {
      margin-bottom: $gap-lg;
    }
  }
}

