@use "../../../presets" as *;
@use "../../../mixins" as *;

.skill-item {
  position: relative;
  overflow: hidden;
  letter-spacing: 2px;

  &:hover {
    .skill-item__link {
      color: $color-accent;
    }

    .skill-item__image {
      transform: scale(1.1);
    }

    .skill-item__overlay {
      opacity: 0.95;
    }
  }

  &__title {
    position: absolute;
    z-index: 1;
    margin: 0;
    inset: 0;

    @include md-min {
      font-size: 1.25rem;
    }

    @include md {
      font-size: 1.125rem;
    }

    @include md-sm {
      letter-spacing: 1.8px;
    }
  }

  &__link {
    height: 100%;
    padding: $gap;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.5s;
  }

  &__image {
    background-color: $color-primary;
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: 0.5s transform;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: $color-primary;
    opacity: 0.8;
    transition: opacity 0.5s;
  }
}

@for $i from 1 through 9 {
  .skill-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};

    @include sm {
      letter-spacing: 1.8px;
    }
  }
}



