@use "../../mixins" as *;
@use "../../presets" as *;

.about {
  background-color: #e5e5e5;
  height: auto;
  padding-bottom: 57px;

  @include sm {
    height: 1226px;
  }

  &__container {
    margin: 0 auto;
    max-width: 936px + 50.5px + 42.5px + 271px;

    @include lg-md {
      margin-left: 20px;
      max-width: 630px + 24.5px + 41.5px + 255px;
    }

    @include md-sm {
      margin-left: 22px;
      max-width: 414px + 18.5px + 55.5px + 236px;
    }

    @include sm {
      margin-left: 23px;
      max-width: 532px;
    }
  }

  &__content {
    display: flex;
    padding-top: 100px;
    gap: 42.5px;

    @include lg-min {
      position: relative;
      left: 9px;
    }

    @include lg-md {
      padding-top: 80px;
      gap: 41.5px;
    }

    @include md-sm {
      padding-top: 61px;
      gap: 55.5px;
    }

    @include sm {
      padding-top: 59px;
      flex-direction: column;
      gap: 39px;
    }
  }

  &__content-text {
    display: flex;
    gap: 50.5px;

    @include lg-md {
      gap: 24.5px;
    }

    @include md-sm {
      gap: 18.5px;
    }

    @include sm {
      position: relative;
      right: 1px;
    }
  }

  &__title {
    margin: 0 0 47px;

    @include lg-md {
      margin: 1px 0 38px;
    }

    @include md-sm {
      margin-bottom: 27px;
    }

    @include sm {
      margin-bottom: 21px;
    }
  }

  &__text {
    font-size: 18px;
    letter-spacing: 0.9px;
    line-height: 24px;
    color: #637588;
    margin: 0 0 16px;
    position: relative;
    top: 2px;

    @include md-sm {
      font-size: 16px;
      letter-spacing: 0.8px;
      top: 4px;
    }

    @include sm {
      font-size: 16px;
      letter-spacing: 0.8px;
      top: 10px;
    }
  }

  &__divider {
    border: none;
    border-left: 1px solid rgba(#707070, 0.27);
    height: 200px;
    width: 1px;
    position: relative;

    @include lg-min {
      bottom: 6px;
    }

    @include lg-md {
      left: 1px;
      bottom: 14px;
    }

    @include md-sm {
      left: 1px;
    }

    @include sm {
      display: none;
    }
  }

  &__image {
    margin-top: 2px;
    width: 271px;
    height: 487px;

    @include lg-md {
      width: 255px;
      height: 459px;
      margin-top: 1px;
    }

    @include md-sm {
      position: relative;
      top: -27px;
      width: 236px;
      height: 425px;
    }

    @include sm {
      margin: 1px 0 0 142px;
    }
  }
}

.title-1,
.title-2 {
  text-align: left;
  font-size: 42px;
  color: #2d3651;
  font-weight: 700;
  margin: 0;
  font-family: "Roboto Slab", serif;

  @include lg-min {
    position: relative;
    bottom: 1px;
  }

  @include lg-md {
    font-size: 32px;
  }

  @include md-sm {
    font-size: 24px;
  }

  @include sm {
    font-size: 24px;
    text-align: center;
  }
}

.title-1 {
  letter-spacing: 2.6px;

  @include lg-min {
    right: 1px;
  }

  @include lg-md {
    letter-spacing: 2.7px;
  }

  @include md-sm {
    letter-spacing: 2px;
  }

  @include sm {
    letter-spacing: 2px;
    margin-top: 1px;
  }
}

.title-2 {
  letter-spacing: 3.3px;

  @include lg-md {
    position: relative;
    top: 4px;
    letter-spacing: 3.4px;
  }

  @include md-sm {
    position: relative;
    top: 5px;
    letter-spacing: 2.4px;
  }

  @include sm {
    position: relative;
    top: 5px;
    letter-spacing: 2.4px;
  }
}
