@use "../../mixins" as *;
@use "../../presets" as *;

.subscribe-form {
  height: 120px;
  background-color: #2d3651;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
  padding-left: 18px;

  @include lg-min {
    padding-left: 35px;
  }

  @include lg-md {
    align-items: normal;
    padding-top: 19px;
    height: 100px;
  }

  @include md-sm {
    height: 182px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 22px;
  }

  @include sm {
    flex-direction: column;
    height: 262px;
    padding: 0 22px;
  }
}

.subscribe-input {
  width: 420px;
  height: 60px;
  background-color: #38405A;
  border: none;
  border-bottom: 2px solid #4C546B;
  letter-spacing: 2px;
  padding-left: 31px;
  color: white;

  &:hover {
    background-color: #4C546B;
    border-bottom: 2px solid white;
    border-top: 2px solid #5E657A;
    border-left: 2px solid #5E657A;
    border-right: 2px solid #5E657A;
    position: relative;
    right: 2px;
    bottom: 1px;
    inset: 0;
    padding-top: 0;
  }

  &::placeholder {
    color: white;
    font-size: 18px;
    position: relative;
    right: 27px;

    @include lg-md {
      font-size: 16px;
      letter-spacing: 1.6px;
    }

    @include sm {
      padding-left: 20px;
    }
  }

  &:nth-child(1) {
    @include lg-min {
      letter-spacing: 1.8px;

      &:hover {
        padding-left: 29px;
      }
    }

    @include lg-md {
      position: relative;
      right: 2px;
      max-width: 302px;

      &:hover {
        padding-left: 27px;
      }
    }

    @include md-sm {
      position: relative;
      bottom: 1px;
      width: 100%;
      padding-left: 32px;
    }

    @include sm {
      width: 100%;
      position: relative;
      bottom: 2px;
    }

    &::placeholder {
      position: relative;
      top: 2px;
      padding-left: 27px;

      @include lg-md {
        top: 0;
        padding-left: 18px;
      }

      @include md-sm {
        top: 1px;
        padding-left: 16px;
        letter-spacing: 1.75px;
      }

      @include sm {
        padding-left: 16px;
        top: 1px;
        letter-spacing: 1.8px;
      }
    }
  }

  &:nth-child(2) {
    @include lg-min {
      letter-spacing: 1.8px;
      position: relative;
      left: 1px;
    }

    @include lg-md {
      position: relative;
      left: 1px;
      max-width: 304px;
    }

    @include md-sm {
      display: none;
    }

    @include sm {
      width: 100%;
    }

    &:hover {
      padding-left: 29px;
    }

    &::placeholder {
      opacity: 0.51;
      position: relative;
      top: 1px;
      padding-left: 31px;

      @include lg-md {
        padding-left: 20px;
        top: -1px;
      }

      @include sm {
        padding-left: 16px;
        top: 0;
        letter-spacing: 1.8px;
      }
    }
  }
}

.subscribe-btn {
  width: 420px;
  height: 60px;
  background-color: #424B63;
  border-bottom: 2px solid #72788A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 2px;
  margin-right: 19.6px;
  padding-left: 1px;
  padding-top: 1px;

  &:hover {
    background-color: #D66926;
    border: 2px solid white;
    padding-top: 0;
  }

  @include lg-min {
    letter-spacing: 1.8px;
    position: relative;
    left: 2px;
  }

  @include lg-md {
    max-width: 302px;
    font-size: 16px;
    position: relative;
    left: 4px;
    letter-spacing: 1.7px;
    padding: 3px 0 0 3px;
  }

  @include md-sm {
    display: none;
  }

  @include sm {
    padding: 1px 0 0 2px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 1.8px;
  }
}

.subscribe-md-sm {
  display: flex;
  width: 100%;

  @include md-min {
    display: none;
  }

  @include sm {
    display: none;
  }

  &__email {
    width: 100%;
    height: 61px;
    background-color: #38405A;
    border: none;
    border-bottom: 2px solid #4C546B;
    letter-spacing: 1.8px;
    color: white;
    padding-left: 25px;
    padding-top: 3px;
    margin-right: 20px;

    &::placeholder {
      padding-left: 17px;
      color: #9DA1AE;
      font-size: 18px;
      position: relative;
      right: 22px;
    }

    :hover {
      background-color: #4C546B;
      border-bottom: 2px solid white;
      border-top: 2px solid #5E657A;
      border-left: 2px solid #5E657A;
      border-right: 2px solid #5E657A;
    }
  }

  &__btn {
    width: 100%;
    height: 60px;
    background-color: #424B63;
    border-bottom: 2px solid #72788A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    letter-spacing: 1.8px;
    position: relative;
    left: 1px;
    padding: 1px 12px 0 12px;

    &:hover {
      background-color: #D66926;
      border: 2px solid white;
    }
  }
}
