@use "../../mixins" as *;
@use "../../presets" as *;

.footer {
  margin-top: 101px;

  @include lg-md {
    margin-top: 80px;
  }

  @include md {
    margin-top: 60px;
  }

  &__container {
    height: 250px;
    background-color: #2d3651;
  }

  &__icons-container {
    padding-top: 48px;
    color: white;
    font-size: 36px;
    display: flex;
    gap: 16px;
    justify-content: center;

    @include md {
      padding-top: 58px;
    }
  }

  &__divider {
    margin: 29px auto 30px;
    width: 76px;
    height: 2px;
    border: none;
    background-color: #424B63;
  }

  &__text-1,
  &__text-2 {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: 0;
  }

  &__text-1 {
    font-weight: 100;
    letter-spacing: 4.8px;
    opacity: 0.3;
    margin-left: 4px;

    @include lg-md {
      margin-left: 5px;
    }

    @include md-sm {
      margin-left: 6px;
    }
  }

  &__text-2 {
    letter-spacing: 0.9px;
    font-weight: 500;

    @include lg-md {
      margin: 0 0 0 1px;
    }

    @include md-sm {
      margin-left: 1px;
    }
  }
}

i {
  &:nth-of-type(4),
  &:nth-of-type(5) {
    position: relative;
    left: 2px;
  }
}
