@use "../../mixins" as *;
@use "../../presets" as *;

.footer {
  &__container {
    height: 252px;
    background-color: #2d3651;

    @include lg-min {
      padding-left: 18px;
    }
  }

  &__icons-container {
    padding-top: 60px;
    color: white;
    font-size: 36px;
    display: flex;
    gap: 18px;
    justify-content: center;
    margin-right: 18px;

    @include lg-md {
      margin: 0 0 0 2px;
      gap: 18.5px;
    }

    @include md-sm {
      gap: 18.5px;
      margin-right: 0;
      margin-left: 2px;
    }

    @include sm {
      margin-right: 0;
      margin-left: 2px;
      gap: 18.5px;
    }
  }

  &__divider {
    margin: 28px auto 19px;
    width: 75px;
    height: 2px;
    border: none;
    background-color: #424B63;
    position: relative;
    right: 9px;

    @include lg-md {
      left: 1px;
    }

    @include md-sm {
      left: 1px;
    }

    @include sm {
      left: 1px;
    }
  }

  &__text-1,
  &__text-2 {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: 0 14px -2px 0;
  }

  &__text-1 {
    font-weight: 100;
    letter-spacing: 5.28px;
    color: #637588;
    margin-left: 4px;

    @include lg-md {
      margin-left: 22px;
    }

    @include md-sm {
      margin-left: 22px;
    }

    @include sm {
      margin-left: 22px;
    }
  }

  &__text-2 {
    letter-spacing: 0.8px;
    font-weight: 700;
    margin-right: 18px;
    color: #e5e5e5;

    @include lg-md {
      margin: 0;
    }

    @include md-sm {
      margin: 0;
    }

    @include sm {
      margin: 0;
    }
  }
}
