@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  position: relative;
  z-index: 1;

  &__container {
    @extend %container;

    @include lg-md {
      position: relative;
      top: 2px;
    }

    @include md-sm {
      margin-top: 120px;
    }
  }

  &__title {
    margin: 0 0 53px 0;

    @include lg-min {
      letter-spacing: 4.6px;
      margin-right: 3px;
    }

    @include lg-md {
      margin: 0 0 42px 0;
    }

    @include md-sm {
      margin-bottom: 30px;
    }

    @media (max-width: 575px) {
      display: none;
    }
  }

  &__title-1,
  &__title-2 {
    margin: 0;
    position: relative;
    @media (min-width: 576px) {
      display: none;
    }
  }

  &__title-1 {
    bottom: 20px;
    right: 4px;
  }

  &__title-2 {
    bottom: 17px;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: $gap;

    @include sm {
      align-items: center;
      position: relative;
      top: 22px;
    }
  }
}

