@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  position: relative;
  z-index: 1;

  &__container {
    @extend %container;

    @include lg-md {
      position: relative;
      top: 2px;
    }

    @include md-sm {
      position: relative;
      bottom: 2px;
    }
  }

  &__title {
    margin: 0 0 53px 0;

    @include lg-min {
      position: relative;
      bottom: 0;
      letter-spacing: 4.8px;
      margin-right: 1px;
    }

    @include lg-md {
      margin: -8px 1px 40px 0;
      letter-spacing: 3.2px;
    }

    @include md-sm {
      margin-bottom: 30px;
      letter-spacing: 2.4px;
      margin-right: 1px;
    }

    @include sm {
      margin-bottom: 32px;
      position: relative;
      bottom: 1px;
      letter-spacing: 2.4px;
      margin-right: 1px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: $gap;

    @include lg-min {
      margin-right: 1px;
    }

    @include lg-md {
      position: relative;
      top: 3px;
    }

    @include md-sm {
      position: relative;
      top: 3px;
    }

    @include sm {
      align-items: center;
      flex-direction: column;
    }
  }
}

