@use "../presets" as *;
@use "../mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  padding-left: 1em;
  padding-right: 1em;
  transition: background-color 0.5s;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }

  &--light {
    background-color: rgba($color-light, 0.1);
    border: 2px solid $color-light;

    @include lg-min {
      font-size: 1.125rem;
      width: 250px;
      height: 60px;

      &:nth-of-type(1) {
        padding-left: 19px;
      }

      &:nth-of-type(2) {
        padding-left: 16px;
      }
    }

    @include lg-md {
      width: 200px;
      height: 50px;
      padding-left: 18px;

      &:nth-of-type(2) {
        margin-left: 1px;
      }
    }

    @include md {
      width: 170px;
      height: 40px;
    }

    @include md-sm {
      padding-top: 1px;
      padding-left: 17px;

      &:nth-of-type(2) {
        padding-left: 19px;
      }
    }

    @include sm {
      padding-top: 2px;

      &:nth-of-type(1) {
        padding-left: 17px;
      }

      &:nth-of-type(2) {
        padding-left: 19px;
      }
    }
  }

  &--primary {
    background-color: rgba($color-primary, 0.8);
    border: 2px solid $color-primary;
    height: 60px;
    font-size: 1.125rem;

    @include lg-min {
      padding-left: 19px;
    }

    @include lg-md {
      padding-top: 5px;
      padding-right: 15px;
      height: 66px;
    }

    @include md-sm {
      position: relative;
      left: 5px;
      padding-left: 20px;
    }

    @include sm-min {
      width: 350px;
    }

    @include sm {
      width: 100%;
      margin-left: 2px;
    }
  }
}
